*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

html,
body{
    height: 100%;
    width: 100%;
    background-color: black;
    color: antiquewhite;
}
#box{
    height: 200px;
    width: 200px;
    background-color: pink;
}
#box1{
    height: 200px;
    width: 200px;
    background-color: crimson;
}
#box2{
    height: 200px;
    width: 200px;
    background-color: palegreen;
}
nav#nav {display: flex;justify-content: space-between;padding: 15px 30px;font-size: 20px;}

ul {
    display: flex;
}

li {
    list-style: none;
    margin-left: 50px;
}
h1 {
    position: absolute;
    top: 50%;
    left: 45%;
    font-size: 50px;
}